body,
.test{
    color: blanchedalmond;
}

#container{
    min-height: 100%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
    background-color:#1F2937;
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.second{
    height: 50vh;
    background-color: green;
}

.third{
    height: 50vh;
    background-color: white;
}

.fourth{
    height: 50vh;
    background-color: blueviolet;
}

.Frog{
    height: 100px;
    width: 100px;
}

.text1{
    font-family: extra-bold;
    color: #f9faf8;
    font-size: 48px;
}

.subt1{
    font-size: 18px;
    color: #e5e7eb;
}

.hbutton{

}