body,
.test{
    color: blanchedalmond;
}

#container{
    min-height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.first{
    background-color:#1F2937;
}

.second{
    height: 50vh;
    background-color: green;
}

.third{
    height: 50vh;
    background-color: white;
}

.fourth{
    height: 50vh;
    background-color: blueviolet;
}

.Frog{
    height: 300px;
    width: 500px;
    flex-shrink: 2;
    border-radius: 100%;
}

.text1{
    font-family: extra-bold;
    color: #f9faf8;
    font-size: 48px;
}

.subt1{
    font-size: 18px;
    color: #e5e7eb;
   
}

.hbutton{
max-height: 100px;
}

.left, 
.right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.middle,
.imgA{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.first,
.second{
    gap: 10px;
    margin: auto;
    padding: 10px;
}