body{ /* this will take away the white space on the divs */
    margin: 0;
}

#container{
    min-height: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    
}

.logo{
    font-size: 24px;
    color: #f9faf8;
}

ul{
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a{
    text-decoration: none;
    color: #e5e7eb;
}

.first{
    background-color:#1F2937;
}

.second{
    height: 50vh;
    background-color: white;
    height: 50vh;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.third{
    height: 50vh;
    background-color: #e5e7eb;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.fourth{
    height: 50vh;
    background-color: white;
}

.footer{
    height: 10vh;
    background-color: black
}

.Frog{
    height: 300px;
    width: 500px;
    flex-shrink: 2;
    border-radius: 100%;
}

.text1{
    font-family: extra-bold;
    color: #f9faf8;
    font-size: 48px;
}

.subt1{
    font-size: 18px;
    color: #e5e7eb;
   
}

.hbutton{
max-height: 100px;
}

.left, 
.right{
    display: flex;
    align-items: center;
    gap: 16px;
}

.middle,
.imgA{
    display: flex;
    justify-content: center;
    gap: 100px;
}

.first,
.second{
    gap: 10px;
    padding: 10px;
}

.Frog2{
    width: 100px;
    height: 100px;
    border-radius: 10px;
    border: 3px solid #38AEE6;

}

.containerS{
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info{
    max-width: 100px;
}

#HS{
    display: flex;
    justify-content: center;
    
}

#QT,
#CT{
    font-size: 36px;
    font-family: italic;
    color: #1F2937;
}

 

  

  button {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
  }

  button.continue {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
  }

  

  .header1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 8px;
  }
  
  .textF {
    margin-bottom: 16px;
  }
  
  .modal{
    display: flex;
    justify-content: center;
    align-items: center; width: 480px;
    border-radius: 10px;
    box-shadow: 2px 4px 16px rgba(0,0,0,.2);
    display: flex;
    gap: 16px;
    padding: 16px;
  }

  .align{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
  }